.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    position: absolute;
    
}

.responsive-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000; /* make sure it's on top of everything */
}

.home-logo {
    max-height: 50px;
    width: auto;
    display: block;
    margin: auto;
}

.year-dropdown {
    font-size: 1.2em;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* prevent hiding rest of content under header */
body {
    padding-top: 60px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .home-link {
        margin-bottom: 10px;
    }
}

#mask-container {
    position: fixed;
    top: 40%; /* vertical position */
    left: -100px; /* start mask off-screen */
    z-index: 1000; /* on top of other content */
    display: none; /* hide initially */
}
  
#mask {
    width: 50px; /* size of the mask */
    animation: roll-across 5s linear forwards;
}
  
@keyframes roll-across {
    from {
      transform: translateX(0) rotate(0deg);
    }
    to {
      transform: translateX(110vw) rotate(360deg);
    }
}