// variables
$primary-color: #2a9d8f;
$secondary-color: #e76f51;
$highlight-color: #f4a261;
$hover-color-blue: #0077b6;
$hover-color-gold: #e9c46a;
$background-color: #f9f9f9;
$text-color: #333;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 10px; /* rounded corners */
$padding: 10px;
$font-size-h2: 1.5em;
$font-size-h3: 1.2em;

// mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow {
    box-shadow: $box-shadow;
}

// a bunch of these are here for future reference,
// not used in this project
@mixin dark-blue-w-gold-text {
    background-color: #264653;
    color: $hover-color-gold;
    border: 2px solid #1e3d42;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin light-orange-w-dark-text {
    background-color: #f4a261;
    color: #333333;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
    border: 2px solid #d89a5f;
}

@mixin burnt-orange-w-white-text {
    background-color: #e76f51;
    color: #ffffff;
    border: 2px solid #c54831;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin teal-w-white-text {
    background-color: #2a9d8f;
    color: #ffffff;
    border: 2px solid #1d5d5c;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin dark-blue-w-white-text-FB {
    background-color: #0077b6;
    color: #f1faee;
    border: 2px solid #004f6d;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin offwhite-w-black-text {
    background-color: #f9f9f9;
    color: #333333;
    border: 2px solid #e0e0e0;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin muted-purple-w-white-text {
    background-color: #6a4c93;
    color: #ffffff;
    border: 2px solid #503c73;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin olive-green-w-yellow-text {
    background-color: #8a9a5b;
    color: #f1e5b9;
    border: 2px solid #707f46;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin dark-red-w-pale-pink-text {
    background-color: #a83232;
    color: #f7cac9;
    border: 2px solid #7d2424;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin steel-blue-w-gray-text {
    background-color: #4682b4;
    color: #d3d3d3;
    border: 2px solid #3a708e;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin forest-green-w-white-text {
    background-color: #4CAF50;
    color: #ffffff;
    border: 2px solid #388e3c;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin deep-navy-w-soft-yellow-text {
    background-color: #003366;
    color: #fffacd;
    border: 2px solid #00254d;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin bright-coral-w-white-text {
    background-color: #ff6f61;
    color: #ffffff;
    border: 2px solid #e65b52;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

@mixin midnight-black-w-gold-text {
    background-color: #000000;
    color: #ffd700;
    border: 2px solid #333333;
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
}

// global styles
#app-container {
    background-color: $background-color;
    padding-top: 15vh; /* prevent hiding rest of content under header */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: $text-color;
}

h2 {
    font-size: $font-size-h2;
    font-weight: bold;
    margin: 10px 0;
}

h3 {
    font-size: $font-size-h3;
    margin: 20px 0;
}

// navbar
.responsive-navbar {
    position: fixed; /* stay at top of screen */
    top: 0; /* stay at top of screen */
    left: 0; /* take up full width */
    right: 0; /* take up full width */
    @include flex-center();
    justify-content: space-between;
    padding: $padding;
    background-color: $background-color;
    border-bottom: 1px solid #ddd;
    z-index: 1000; /* make sure it's on top of everything */

    a, select { /* links and dropdowns */
        // color: $text-color;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
        transition: color 0.3s ease;
        &:hover {
            color: $hover-color-blue;
        }
    }

    .home-logo {
        max-height: 50px;
        width: auto;
        display: block;
        margin: auto;
    }

    #title {
        font-size: 1.8em;
        color: $highlight-color;
        font-weight: bold;
    }

    .year-dropdown {
        font-size: 1.2em;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        @include box-shadow;
    }
}

// header images
.carousel-images {
    @include flex-center();
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    border-radius: $border-radius;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: $border-radius;
        position: absolute;
        top: 50%; /* position top-left corner of image at center of container */
        left: 50%; /* see above */
        transform: translate(-50%, -50%); /* reverses the above, centering the image */
    }    
}

// attendee counter
#attendee-counter {
    @include flex-center();
    flex-direction: column;
    text-align: center;
    @include dark-blue-w-white-text-FB();
    margin: 0 auto;
    width: 30%;

    h2 {
        font-size: 1.6em;
        font-weight: bold;
        &:hover {
            color: $hover-color-gold;
            transition: color 0.3s ease;
        }
    }

    h4 {
        font-style: italic;
        color: lighten($text-color, 70%);
        font-size: 1em;
    }

    .attendee-stats {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: $padding;

        .stat {
            text-align: center;

            .stat-wrapper {
                &:hover h2, &:hover p {
                    color: $hover-color-gold;
                }

                h2 {
                    font-size: 1.2em;
                    margin-bottom: 5px;
                    transition: color 0.3s ease;
                }

                p {
                    font-size: 1.4em;
                    font-weight: bold;
                    transition: color 0.3s ease;
                }
            }
        }
    }
}

// total number div
#total-number {
    padding: $padding;
    border-radius: $border-radius;
    @include box-shadow;
    text-align: center;

    h2 {
        &:hover {
            color: $hover-color-blue !important;
            transition: color 0.3s ease;
        }
    }

    #total-expenses-and-donations {
        color: $primary-color;
    }
    
    #profit-or-loss {
        color: $secondary-color;
    }
    
    #cost-per-attendee {
        color: $highlight-color;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#total-number, #attendee-counter {
    animation: fadeIn 1s ease-in-out;
}

// home view
#home {
    padding: $padding;

    h2 {
        margin-bottom: $padding;
    }

    h3 {
        margin: 20px 0;
        padding: $padding;
        border-radius: $border-radius;
        @include box-shadow;
    }

    #markdown-content {
        margin-top: 20px;
        @include dark-blue-w-gold-text;
        margin: 40px 40px;
    }

    // email form
    #email-form {
        background-color: $highlight-color;
        border-radius: $border-radius;
        
        h3 {
            margin-bottom: 20px;
            background-color: $highlight-color;
            border-radius: $border-radius;
            color: $text-color;
            font-weight: bold;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }

        form {
            display: inline-block; /* center form */
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 10px;

                input, textarea, button {
                    width: calc(100% - 20px); /* account for padding */
                    margin: 10px 0;
                    font-family: inherit;
                    font-size: inherit;
                    padding: $padding;
                    border: 1px solid lighten($text-color, 30%);
                    border-radius: $border-radius;
                    box-sizing: border-box; /* ensure padding doesn't affect width */
                }

                textarea {
                    resize: vertical; /* only allow resizing vertically */
                }

                button {
                    padding: 10px 20px;
                    background-color: #4CAF50;
                    color: white;
                    font-weight: bold;
                    font-size: 1.2em;
                    border: none;
                    border-radius: $border-radius;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    margin-top: 10px;
                    &:hover {
                        background-color: darken($primary-color, 10%);
                    }
                }
                
        }
    }
}

.view {
    padding: $padding;
    text-align: center;
    border-radius: $border-radius;
    @include box-shadow;
    margin-bottom: 20px;

    h2 {
        font-size: $font-size-h2;
        margin-bottom: $padding;
        color: $text-color;
        font-weight: bold;
        &:hover {
            color: $hover-color-blue;
            transition: color 0.3s ease;
        }
    }

    h3 {
        font-size: $font-size-h3;
        margin-bottom: 20px;
        color: lighten($text-color, 30%);
    }

    // 2020 pic
    #empty-garden {
        position: relative;
        width: 100%;
        height: calc(100vh - 60px);
        overflow: hidden;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;

        #year-pic {
            max-width: 100%; /* scale within the container */
            max-height: 100%; /* scale within the container */
            object-fit: contain;
            border-radius: $border-radius;
        }
    }
}

#view-2014-2016 {
    @include light-orange-w-dark-text;
    width: 50%;
    @include flex-center();
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    h2 {
        font-size: $font-size-h2;
        margin-bottom: $padding;
        color: #333333; /* override color */
        font-weight: bold;
        &:hover {
            color: $hover-color-blue;
            transition: color 0.3s ease;
        }
    }

    h4 {
        font-style: italic;
        // color: $text-color;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .responsive-navbar {
        flex-direction: column;
        a, select {
            margin: 10px 0;
        }
    }

    #app-container {
        padding-top: 20vh;
    }

    #email-form {
        padding: 10px;

        form {
            width: 100%;
            max-width: none;
            margin: 0 auto;
        }

        input, textarea, button {
            width: calc(100% - 20px);
        }
    }

    #empty-garden {
        height: 60vh;
    }
}

@media (max-width: 480px) {
    .responsive-navbar {
        padding: 5px;
        flex-direction: column;
        a, select {
            margin: 10px 0;
        }
    }

    #app-container {
        padding-top: 20vh;
    }

    #attendee-counter {
        width: 90%;
    }

    #total-number {
        width: 90%;
    }

    #home {
        padding: 5px;

        #email-form {
            padding: 5px;
    
            form {
                width: 100%;
                padding: 5px;
            }
    
            input, textarea, button {
                width: calc(100% - 10px);
                margin: 5px 0;
            }

            button {
                padding: 8px 16px;
                font-size: 1em;
                margin-top: 5px;
            }
        }
    }

    .view {
        padding: 5px;
    }

    #empty-garden {
        height: 50vh;
    }
}

#mask-container {
    z-index: 1000; /* on top of everything else */
}

.mask {
    left: -100px; /* start off-screen */
    width: 50px;
    position: absolute;
}

@keyframes roll-across {
    from {
        transform: translateX(-50px) rotate(0deg); /* start off-screen */
    }
    to {
        transform: translateX(calc(100vw + 100px)) rotate(360deg); /* end beyond screen, one full rotation */
    }
}
