/* rounded corners */
#app-container {
  background-color: #f9f9f9;
  padding-top: 60px; /* prevent hiding rest of content under header */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #333;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  font-size: 1.2em;
  margin: 20px 0;
}

.responsive-navbar {
  position: fixed; /* stay at top of screen */
  top: 0; /* stay at top of screen */
  left: 0; /* take up full width */
  right: 0; /* take up full width */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  z-index: 1000; /* make sure it's on top of everything */
}
.responsive-navbar a, .responsive-navbar select { /* links and dropdowns */
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.responsive-navbar a:hover, .responsive-navbar select:hover {
  color: #0077b6;
}
.responsive-navbar .home-logo {
  max-height: 50px;
  width: auto;
  display: block;
  margin: auto;
}
.responsive-navbar #title {
  font-size: 1.8em;
  color: #f4a261;
  font-weight: bold;
}
.responsive-navbar .year-dropdown {
  font-size: 1.2em;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.carousel-images img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#attendee-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #0077b6;
  color: #f1faee;
  border: 2px solid #004f6d;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 30%;
}
#attendee-counter h2 {
  font-size: 1.6em;
  font-weight: bold;
}
#attendee-counter h2:hover {
  color: #e9c46a;
  transition: color 0.3s ease;
}
#attendee-counter h4 {
  font-style: italic;
  color: #e6e6e6;
  font-size: 1em;
}
#attendee-counter .attendee-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
#attendee-counter .attendee-stats .stat {
  text-align: center;
}
#attendee-counter .attendee-stats .stat .stat-wrapper:hover h2, #attendee-counter .attendee-stats .stat .stat-wrapper:hover p {
  color: #e9c46a;
}
#attendee-counter .attendee-stats .stat .stat-wrapper h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
#attendee-counter .attendee-stats .stat .stat-wrapper p {
  font-size: 1.4em;
  font-weight: bold;
  transition: color 0.3s ease;
}

#total-number {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#total-number h2:hover {
  color: #0077b6 !important;
  transition: color 0.3s ease;
}
#total-number #total-expenses-and-donations {
  color: #2a9d8f;
}
#total-number #profit-or-loss {
  color: #e76f51;
}
#total-number #cost-per-attendee {
  color: #f4a261;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#total-number, #attendee-counter {
  animation: fadeIn 1s ease-in-out;
}

#home {
  padding: 10px;
}
#home h2 {
  margin-bottom: 10px;
}
#home h3 {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#home #markdown-content {
  margin-top: 20px;
  background-color: #264653;
  color: #e9c46a;
  border: 2px solid #1e3d42;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px 40px;
}
#home #email-form {
  background-color: #f4a261;
  border-radius: 10px;
}
#home #email-form h3 {
  margin-bottom: 20px;
  background-color: #f4a261;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
#home #email-form h3:hover {
  background-color: #e14a24;
}
#home #email-form form {
  display: inline-block; /* center form */
  width: 100%;
  max-width: 400px;
}
#home #email-form form input, #home #email-form form textarea, #home #email-form form button {
  width: 100%;
  margin: 10px 0;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-sizing: border-box; /* ensure padding doesn't affect width */
}
#home #email-form form textarea {
  resize: vertical; /* only allow resizing vertically */
}
#home #email-form form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#home #email-form form button:hover {
  background-color: #1f756a;
}

.view {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.view h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}
.view h2:hover {
  color: #0077b6;
  transition: color 0.3s ease;
}
.view h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: gray;
}
.view #empty-garden {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view #empty-garden #year-pic {
  max-width: 100%; /* scale within the container */
  max-height: 100%; /* scale within the container */
  object-fit: contain;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .responsive-navbar {
    flex-direction: column;
  }
  .responsive-navbar a, .responsive-navbar select {
    margin: 10px 0;
  }
}
#mask-container {
  z-index: 1000; /* on top of everything else */
}

.mask {
  left: -100px; /* start off-screen */
  width: 50px;
  position: absolute;
}

@keyframes roll-across {
  from {
    transform: translateX(-50px) rotate(0deg); /* start off-screen */
  }
  to {
    transform: translateX(calc(100vw + 100px)) rotate(360deg); /* end beyond screen, one full rotation */
  }
}

/*# sourceMappingURL=styles.css.map */
